# Ignore the actual files, but keep the folder structure
artifacts/*/
!artifacts/**/.gitkeep

# Ignore MLflow database and local logs
experiments/mlflow.db
logs/*.log

# Python environment
.venv/
__pycache__/
*.py[cod]

# Secret configs
.env

mlruns/
notebooks/

.pytest_cache/

.eggs/
*.egg
*.egg-info/
.Python
